:root{
	--background1: #2F3E64;
	--hoverLink: #FF5C00;
	--goldColor: #FFD700;
	--primaryFont: 'Montserrat', sans-serif;
	--secondaryFont: 'Raleway', sans-serif;
}
body{
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--background1);
	overflow-x: hidden;
}
html{
	scroll-behavior: smooth;
}