nav{
    margin-top: 30px;
}
.navBtn{
    top: 40px;
}
.accountContainer{
    position: relative;
    top: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    font-family: var(--primaryFont);
    width: 50%;
    min-width: 300px;
}
.accountContainer .groupInputs{
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
}
.groupInputs input{
    border-radius: 10px;
    background-color: #fff;
    font-family: var(--secondaryFont);
    padding: 15px 20px;
    width: 350px;
    border: none;
    height: 30px;
}
.groupInputs label{
    font-weight: 800;
    font-size: 22px;
    position: absolute;
    top: 0;
}
.signUp{
    padding: 15px 20px;
    color: #000;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    width: 400px;
    border: none;
    cursor: pointer;
    transition: 0.2s background ease-in-out;
}
.signUp A{
    color: #000;
}
.signUp:hover{
    background-color: var(--hoverLink);
    color: #fff;
}
.signUpSpan {
    margin-top: 20px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    width: 400px;
}
.signUpSpan a{
    text-decoration: underline;
    font-weight: 800;
}