#allMatchs{
    font-family: var(--primaryFont);
    color: #fff;
    margin: 250px 145px 0px 145px;
}
.container{
    width: 100%;
}
.container h2{
    font-weight: 700;
    font-size: 32px;
}
.container .matchsCardsContainer{
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .matchCard{
    width: 40%;
    min-width: 450px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 13px 18px 4px rgba(0, 0, 0, 56%);
    font-size: 18px;
    color: #fff;
    background-color: #23386c;
    display: none;
}
.container .matchCard.activeSlider{
    display: block;
}
.container .matchCard .country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.container .matchCard .country .countryDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    font-family: var(--secondaryFont);
}
.container .matchCard .country span{
    font-size: 100px;
    font-weight: 500;
    margin-top: 30px;
}
.container .matchCard .country .countryDiv svg{
    width: 100px;
    height: 100px;
}
.bottomCTA{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.bottomCTA span{
    font-weight: 200;
    font-size: 22px;
    font-style: italic;
}
.bottomCTA .bet{
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    width: 195px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--primaryFont);
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 56%);
    margin-top: 20px;
    cursor: pointer;
    background: #fff;
    transition: 0.2s background ease-in-out;
}
.bottomCTA .bet:hover{
    background-color: var(--hoverLink);
    color: #fff;
}
.slideToSeeMore{
    display: none;
}
.iconSlide{
    display: none;
}
.nextSlide{
    display: block;
    padding: 20px 55px;
    font-size: 22px;
    color: #000;
    font-weight: 800;
    font-family: var(--secondaryFont);
    border-radius: 25px;
    border: none;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 56%);
    margin: 40px auto;
    cursor: pointer;
    transition: 0.2s background ease-in-out;
}
.nextSlide:hover{
    background-color: var(--hoverLink);
    color: #fff;
}

/******* RESPONSIVE *******/

@media screen and (max-width: 1200px){
    #allMatchs{
        margin: 150px 100px 0px 100px;
    }
    .matchsCardsContainer{
        flex-direction: column;
        align-items: center;
    }
    .card2{
        display: none;
    }
}
@media screen and (max-width: 755px){
    #allMatchs{
        margin: 150px 50px 0px 50px;
    }
}
@media screen and (max-width: 700px){
    .container .matchCard .country .countryDiv svg{
        width: 65px;
        height: 65px;
    }
    .slideToSeeMore{
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
    }
    .iconSlide{
        display: block;
    }
}
@media screen and (max-width: 520px){
    #allMatchs{
        margin: 150px 0px 0px 0px;
    }
    #allMatchs h2{
        margin-left: 30px;
    }
}
